<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>

<body>
	<!-- Header -->

	<%-include('partials/header')%>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<!-- <h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá van los resultados de búsqueda. <br>
			Eliminen estás líneas y cosntruyan la página de resultados de búsqueda. <br>
			//////////////// -->
		<div class="container products-wrapper">
			<div class="row">
				<% if (products.length > 0 ){ %>
				<% prdocuts.forEach(pruduct => { %>
				<div class="col-12 col">
					<section class="product-box"> 
						<a href="/product/<%= product.id %>"
							<figure class="product-box-image">
							<img src="<%= product.image %>" alt="<%= product.name %>">
							</figure>
							<article class="product-box-data">
								<h2><% product.name %> </h2>
								<p><%= product.description %></p>
								<p> comentarios: <% product.comments.legth %></p>
								<!-- <p> usuarios <%= product.usuario.nombre</p> -->
							</article>

							
					</section>

				</div>
				})}
				<% }) %>
				<% } else { %>
				<div class="col-12">
					<p> no se enconttraron resultados para tu busqueda.</p>
					<p>intenta con otro termino. </p>
		
				</div>
			
			</div>

		</div>



	<!-- footer -->

	<%-include('partials/footer')%>

	<!-- /footer -->
</body>

</html>